* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cont-dices {
  background-color: #d3d3d3;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cont-dices .dice {
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
  padding: 15px;
}

/* Dice 1 */

.d1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* point style */

.point {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
}

/* Dice 2 */
.d2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d2 .p2 {
  align-self: end;
}

/* Dice 3 */
.d3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d3 .p1 {
  align-self: end;
}

.d3 .p2 {
  align-self: center;
}

/* Dice 4 */

.d4 {
  display: flex;
  justify-content: space-between;
} 

.d4 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Dice 5 */

.d5 {
  display: flex;
  justify-content: space-between;
} 

.d5 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.d5 .p-center {
  display: flex;
  justify-content: center;
}

/* Dice 6 */
.d6 {
  display: flex;
  justify-content: space-between;
} 

.d6 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 880px) {
 .cont-dices {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
 }
} 

@media (max-width: 480px) {
  .cont-dices {
   display: grid;
   grid-template-columns: 1fr;
  }
 } 